<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <h2>NEW RECIPE</h2>
  
    <div class="A new recipe">
      <h3>id: <span style="font-weight:normal"><%= id %></span></h3>
      <h3>title: <span style="font-weight:normal"><%= title %></span></h3>
      <h3>recipe: <span style="font-weight:normal"><%= recipe %></span></h3>
    </div>

  
  <%- include("./partials/footer.ejs") %>
</body>
</html>